*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
}
main{
    width: 55rem;
    aspect-ratio: 1.4/1;
    min-width: 30rem;
    min-height: 30rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    'nav main'
    'nav counters';
    resize: both;
    overflow: auto;
    background-color: palegoldenrod;
}
/* ======================================================= */
#nav{
    width: 100%;
    height: 100%;
    background-color: palegreen;
    grid-area: nav;
}
.taskGroup{
    width: 2rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
/* ======================================================= */
#main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'header'
    'container'
    'addsection';
    background-color: paleturquoise;
    grid-area: main;
}
/* ------------------------------------- */
#main header{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    'title button'
    'date button';
    align-items: center;
    background-color: papayawhip;
    grid-area: header;
}
#title{
    grid-area: title;
}
#date{
    grid-area: date;
}
#optionsButton{
    grid-area: button;
}
/* ------------------------------------- */
#taskContainer{
    width: 100%;
    height: 100%;
    background-color: peachpuff;
    grid-area: container;
}
.task{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat((3, 1fr));
    grid-template-areas:
    'input title button'
    'input description button'
    'input date button';
    align-items: center;
    background-color: rgb(232, 223, 132);
}
.checkbox{
    grid-area: input;
}
.title{
    grid-area: title;
}
.description{
    grid-area: description;
}
.date{
    grid-area: date;
}
.delete{
    grid-area: button;
}
/* ------------------------------------- */
#addTaskSection{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    'button title'
    'button description';
    align-items: center;
    background-color: rgb(232, 179, 127);
    grid-area: addsection;
}
#addTaskButton{
    grid-area: button;
}
#titleInput{
    grid-area: title;
}
#descriptionInput{
    grid-area: description;
}

/* ======================================================= */
#counters{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    background-color: palevioletred;
    grid-area: counters;
}