@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --padding-1: .3rem;
    --padding-2: 2rem;
    --padding-3: 1rem;

    --font-weight-1: 700;
    --font-weight-2: 500;
    --font-weight-3: 400;
    --font-weight-4: 300;

    --font-size-1: 1.5rem;
    --font-size-2: 1rem;
    --font-size-3: .8rem;
    --font-size-4: .6rem;

    --gap-1: .3rem;

    --border-radius-1: 8px;
    --border-radius-2: 8px;
    --border-radius-3: 4px;
}
button{
    width: 2rem;
    aspect-ratio: 1/1;
    user-select: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
}
main{
    padding-top: var(--padding-1);
    width: 55rem;
    aspect-ratio: 1.4/1;
    min-width: 30rem;
    min-height: 30rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    'nav main'
    'nav counters';
    resize: both;
    overflow: auto;
    border-radius: var(--border-radius-1);
    background-color: palegoldenrod;
}
/* ======================================================= */
#nav{
    padding: 0 var(--padding-1);
    width: 100%;
    height: 100%;
    background-color: palegreen;
    grid-area: nav;
}
.taskGroup{
    width: 2rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-3);
    background-color: red;
    user-select: none;
}
/* ======================================================= */
#main{
    padding: var(--padding-2);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'header'
    'container'
    'addsection';
    border-radius:  var(--border-radius-2) 0 0 var(--border-radius-2);
    background-color: paleturquoise;
    grid-area: main;
}
/* ------------------------------------- */
#main header{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    'title button'
    'date button';
    align-items: center;
    background-color: papayawhip;
    grid-area: header;
}
#title{
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
    grid-area: title;
}
#date{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-3);
    grid-area: date;
}
#optionsButton{
    grid-area: button;
}
/* ------------------------------------- */
#taskContainerScroll{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    background-color: peachpuff;
    grid-area: container;
}
#taskContainer{
    padding: var(--padding-1);
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    background-color: rgb(233, 138, 55);
}
.task{
    padding: var(--padding-3);
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat((3, 1fr));
    grid-template-areas:
    'input title button'
    'input description button'
    'input date button';
    align-items: center;
    border-radius: var(--border-radius-3);
    background-color: rgb(232, 223, 132);
}
.checkbox{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: var(--padding-3);
    grid-area: input;
}
.title{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
    grid-area: title;
}
.description{
    margin: var(--gap-1) 0;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-3);
    grid-area: description;
}
.date{
    font-size: var(--font-size-4);
    grid-area: date;
    font-weight: var(--font-weight-4);
}
.delete{
    margin-left: var(--padding-3);
    grid-area: button;
}
/* ------------------------------------- */
#addTaskSection{
    margin-top: .5rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    'title button'
    'description button';
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 179, 127);
    grid-area: addsection;
}
#addTaskButton{
    grid-area: button;
}
#titleInput{
    height: 100%;
    font-size: var(--font-size-3);
    grid-area: title;
}
#titleInput::placeholder{
    user-select: none;
}
#descriptionInput{
    height: 100%;
    font-size: var(--font-size-3);
    grid-area: description;
}
#descriptionInput::placeholder{
    user-select: none;
}

/* ======================================================= */
#counters{
    padding: var(--padding-1) 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
    background-color: palevioletred;
    grid-area: counters;
    user-select: none;
}



/* =================================================================================== */
/* =================================================================================== */

@media (width < 770px) {
    main{
        width: 100%;
        height: 100%;
        min-width: 1rem;
        min-height: auto;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
        'nav main'
        'nav counters';
        overflow: visible;
        border-radius: 0;
        background-color: palegoldenrod;
    }
    #main{
        padding: 0;
        width: 100%;
        height: 98.5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        'header'
        'container'
        'addsection';
        border-radius:  var(--border-radius-2) 0 0 var(--border-radius-2);
        background-color: paleturquoise;
        grid-area: main;
    }
}